<article class="text-content">
    <img src="{{ .Site.Params.me }}" alt="Carlos" id="me" />

    <p class="about" id="about-1">
        Hi there! I'm
        <span class="highlight">Carlos</span>, a developer based
        in Seville, Spain.
    </p>

    <p class="about">
        I've been historically more oriented to the Back End
        side, but overall, I enjoy building clean and performant
        software. I've been around coding stuff since
        <span class="highlight">2010</span> always trying to do
        hard things the easy way, with good practices.
    </p>

    <p class="about">
        I feel comfortable developing projects in
        <span class="highlight">team</span> environments with a
        focus on analytical thinking, verbal communication and
        mentoring.
    </p>

    <p class="about" id="about-4"></p>
</article>