<div id="timeline">
    <article id="timeline-intro">
        <p>
            <u>This has been my career
                <span class="highlight">so far</span></u>:
        </p>
    </article>

    <section class="timeline-content">
        <div class="timeline">

            <div class="timeline-block">
                <div class="timeline-item">
                    <p>Back End Developer @ <a href="https://devengo.com" target="_blank">Devengo</a></p>

                    <time class="date">Sep 2022 - Right now</time>

                    <p>Building a payment service provider regulated by the Bank of Spain. We specialize mainly in
                        facilitating money movement and payment transactions.</p>

                    <p><u>Techs</u>: Ruby on Rails, PostgreSQL, Heroku</p>
                </div>
            </div>

            <div class="timeline-block">
                <div class="timeline-item">
                    <p>Lead Back End Developer @ <a href="https://dixper.gg" target="_blank">Dixper</a></p>

                    <time class="date">Aug 2021 - Sep 2022</time>

                    <p>1yr & 2mos</p>

                    <p>Developed robust services for our streaming monetization tool as well as recruiting new
                        developers to take the platform to the next level!</p>

                    <p><u>Techs</u>: NodeJS, MySQL, Docker, Firebase, TypeScript, Redis, Nest, WebSockets</p>
                </div>
            </div>

            <div class="timeline-block">
                <div class="timeline-item">
                    <p>Lead Back End Developer @ <a href="https://powen.es" target="_blank">POWEN</a></p>

                    <time class="date">Jan 2020 - Aug 2021</time>

                    <p>1yr & 8mos</p>

                    <p>Worked hard in a growing team to develop a modern photovoltaic management platform from scratch
                        for top-tier clients.</p>

                    <p><u>Techs</u>: NodeJS, AWS, MySQL, GraphQL, Docker, TypeScript, Nest, Apollo</p>
                </div>
            </div>

            <div class="timeline-block">
                <div class="timeline-item">
                    <p>Lead Back End Developer @ <a href="https://ezzing.com" target="_blank">Ezzing</a></p>



                    <time class="date">Jan 2017 - Jan 2020</time>

                    <p>3yrs</p>




                    <p>Here I built APIs to manage the photovoltaic selling process. Managed a 3-5 people team to build
                        new systems while maintaining and refactoring the previous ones, always putting an effort on
                        clean architecture, performance and ease of communication.</p>




                    <p><u>Techs</u>: PHP, Laravel, AWS, MySQL, GraphQL, Docker, WebSockets</p>
                </div>
            </div>

            <div class="timeline-block">
                <div class="timeline-item">
                    <p>IT Developer @ <a href="https://qashops.com" target="_blank">QaShops</a></p>



                    <time class="date">Aug 2015 - Jan 2017</time>

                    <p>1yr & 6mos</p>




                    <p>Got my first developer job to build shopping platforms and help brands and shops to easily sell
                        their products across all popular marketplaces.</p>




                    <p><u>Techs</u>: PHP, Yii, MySQL, MongoDB, jQuery</p>
                </div>
            </div>

            <div class="timeline-block">
                <div class="timeline-item">
                    <p>Graduate in Computer Science @ <a href="https://www.us.es" target="_blank">University of
                            Seville</a></p>



                    <time class="date">Oct 2011 - Dec 2015</time>




                    <p><u>Techs</u>: Java, Python, Spring, AngularJS, HTML, CSS, MySQL, Oracle, jQuery</p>
                </div>
            </div>

            <div class="timeline-block">
                <div class="timeline-item">
                    <time class="date">2010</time>




                    <p>Started coding with <span class="highlight">Visual Basic 6.0</span>!</p>
                </div>
            </div>

        </div>
    </section>
</div>